<div [class.mat-elevation-z8]="true" class="login-container">
  <h3 style="text-align: center">Activity Merger</h3>
  <p style="text-align: justify; padding-left: 20px; padding-right: 20px; overflow-wrap: break-word;">{{displayMessage}}</p>
  <p style="text-align: justify; padding-left: 20px; padding-right: 20px">(Re-) Connecting to Strava is required in
    order to read/create your activities. The following button will redirect you to the OAuth page of Strava and you
    will come back automatically after login.</p>
  <br/>
  <div style="width: fit-content; margin: auto; margin-bottom: 20px">
    <a [href]="this.STRAVA_AUTH_URL"><img src="../../assets/images/btn_strava_connectwith_orange.png"></a>
  </div>
</div>
