<div [class.mat-elevation-z8]="true" class="login-container">
  <h3 style="text-align: center">Activity Merger</h3>
  <p style="text-align: justify; padding-left: 20px; padding-right: 20px">This page will enable you to watch your Strava activities and merge them into one new activity (retaining or deleting the old ones). This project was brought to life, because my bike computer automatically records my rides and creates activities. Unfortunately it is not able to stop during a trip. As soon as it detects a break of 5 minutes or more, it will create a new activity. And I want to see my day trips as one, regardless of breaks during the trip. Hope it helps you, too.</p>
  <br/>
  <div style="width: fit-content; margin: auto; margin-bottom: 20px">
    <a href="#"><img src="assets/images/btn_strava_connectwith_orange.png"></a>
  </div>
</div>
