<div class="container">
  <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows
         class="mat-elevation-z8">

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <img [src]="getImageUrl(element)" />
          <div class="element-description">
            <span class="element-description-attribution">name: {{element.name}} <br/> distance: {{element.distance}} <br/> total elevation gain {{element.totalElevationGain}} <br/> moving time: {{element.movingTime}} <br/> highest elevation: {{element.elevHigh}} <br/> lowest elevation: {{element.elevLow}}</span>
            <br/><br/>
            <a href="https://www.strava.com/activities/{{element.id}}" target="_blank" mat-stroked-button><mat-icon>open_in_new</mat-icon> View on Strava</a>
            <br/><br/>
            <a href="https://www.strava.com/activities/{{element.id}}/edit" target="_blank" mat-stroked-button><mat-icon>edit</mat-icon> Edit on Strava</a>
            <br/><br/>
            <a href="https://www.komoot.de/upload" target="_blank" mat-stroked-button (click)="this.exportKomoot(element)" style="width: 160px;"><img src="assets/images/komoot.png"> Exp. to Komoot</a>&nbsp;&nbsp;<mat-icon matTooltip="Popups must be allowed for this page." style="vertical-align: middle">info</mat-icon>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef style="padding-left: 25px">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" style="padding-left: 25px">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Activity Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Activity name </th>
      <td mat-cell *matCellDef="let element" class="countable"> {{element.name}} </td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Started Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!-- elapsedTime Column -->
    <ng-container matColumnDef="elapsedTime">
      <th mat-header-cell *matHeaderCellDef> Elapsed Time </th>
      <td mat-cell *matCellDef="let element"> {{element.elapsedTime}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="header"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="element-row"
        [class.merged-element]="this.isMerged(element)"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element;">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
  <div class="merge-button-container" style="font-size: 12px">
    <form [formGroup]="checkoutForm" (ngSubmit)="mergeButtonClicked()" style="height: 100%">
      <mat-form-field appearance="legacy" style="height: 100%; padding: 5px;">
  <!--      <mat-label>NEW MERGED ACTIVITY</mat-label>-->
        <input matInput placeholder="Activity Name" id="name" type="text" formControlName="name">
      </mat-form-field>
      <button mat-flat-button color="accent" [disabled]="selection.selected.length < 2">Merge</button>
    </form>
  </div>
</div>
<load-component *ngIf="this.loading">Loading</load-component>
