table {
  width: 90vw;
  max-width: 1000px;
  margin: auto;
}

tr.detail-row {
  height: 0;
}

tr.element-row.merged-element {
  -moz-box-shadow:inset 0 0 5px deeppink;
  -webkit-box-shadow:inset 0 0 5px deeppink;
  box-shadow:inset 0 0 5px deeppink;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.container {
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 75px - 50px);
}

tr.header {
  position: sticky;
  top: 0px;
  background-color: lightgray;
  z-index: 500;
}

.merge-button-container {
  position: fixed;
  bottom: 75px;
  height: 50px;
  background-color: lightgray;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
