.load-container {
  margin: 100px auto;
  width: 500px;
  height: 380px;
  padding: 16px;
  background-color: white;
  z-index: 9999;
}

.component-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9998;
}
